
/* .container {
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 30px;
    padding: 15px;
        width: 75%;
        
 } */

 html{
    background-image: url(../../public/images/background1.jpg); 
  
   }
  
  
  
   .container {
    margin: 0 auto;
    /* margin-bottom: 30px; */
    padding: 15px;
    /* background-color: white;
     */
     background: rgba(255,255,255,0.5)
  }
   /* #display{
       background-color: navy;
       color: white;
   }
    */
    #display{
      background-image: url(../images/city.jpg); 
      width: 100%;
      height: 120px;
     /* background-color: navy; */
     color: white;
     font-weight: bold;
     text-shadow: black;
  }
  
  
  
   thead{
       padding: 20px;
       width:100%;
   }
   
   th{
       margin-right: 50px;
   }
   #info{
       min-height: 500px;
   }
  
   #stockdetails{
      background-color: navy;
      color: white;
   }
  
   .para{
       font-size: 20px;
       margin-left: 50px;
       margin-top: 50px;
       
       font-weight: bold;
  
   }
   
   #stockcontent{
       font-size: 20px;
       line-height: 2.0;
       
       
   }
   .urlclass{
       margin-bottom: 50px;
   }
   #table_content{
       margin-bottom: 30px;
   }
  
   .hd {
    width: 75%;
    height: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: rgba(255,255,255,0.5)
   
  }
  
  
   .tradingview-widget-container{
      margin-top: 100px;
  
   }
  
  /* .hover1:hover{
      background: grey;
  
  } */
  .symbol:hover{
      background: grey;
  
  }
  /* .buttons{
    display: none;
  } */
  
  /* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* */
  /* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* */
  /* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* */
  /* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* */
  * {
      box-sizing: border-box;
    }
    
    body {
      font: 16px Arial;  
    }
    
    /*the container must be positioned relative:*/
    .autocomplete {
      position: relative;
      display: inline-block;
    }
    
    input {
      border: 1px solid transparent;
      background-color: #f1f1f1;
      padding: 10px;
      font-size: 16px;
    }
    
    input[type=text] {
      background-color: #f1f1f1;
      width: 100%;
    }
    
    input[type=submit] {
      /* background-color: DodgerBlue; */
      color: #fff;
      /* color:black; */
      cursor: pointer;
    }
    
    .autocomplete-items {
      position: absolute;
      border: 1px solid #d4d4d4;
      border-bottom: none;
      border-top: none;
      z-index: 99;
      /*position the autocomplete items to be the same width as the container:*/
      top: 100%;
      left: 0;
      right: 0;
    }
    
    .autocomplete-items div {
      padding: 10px;
      cursor: pointer;
      background-color: #fff; 
      border-bottom: 1px solid #d4d4d4; 
      color:black;
    }
    
    /*when hovering an item:*/
    .autocomplete-items div:hover {
      background-color: #e9e9e9; 
      color:black;
    }
    
    /*when navigating through the items using the arrow keys:*/
    .autocomplete-active {
      background-color: DodgerBlue !important; 
      color: #ffffff; 
      /* color:black; */
    }

    .list-group-item {
      line-height: 2.5;
    }

    .button {
      background-color:red;
    }

    .table {
      background-color:red;
    }
    
    
    
  
  /* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* */
  /* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* */
  /* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* */
  /* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* */